.container{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(#294d61,#6da5c0,#0f969c,#0c7075,#072E33,#05161A);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    

}
.box{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    align-items: center;
    display: block;
    justify-content: center;
    border-radius: 10px;
    box-shadow:0 0 10px  black ;
}
.button{
    align-items: center;
    color: rgb(66, 17, 99);
    border-radius: 40%,10%,10%,10%;
    margin-left: 35%;
    margin-right: -60%;
    display: block;
    height: 40px;
    width: 90px;
}
.button:hover{
    color: red;
}
h1{
    margin-left: 25%;
    margin-right: -75%; ;
}
input{
    margin-left: 20%;
    margin-right: -80%;
}
 p{     margin-left: 40%;
        font-size: 15px;
    }
.cadastro{
   color: purple;
   
}
.cadastro:hover{
    color: red;
    
    
}